<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<div>
  <mat-toolbar class="top-bar">
    <mat-toolbar-row>
      <span class="left-content">
        <span (click)="navigateTo('/')" class="material-symbols-outlined">
          rocket_launch
        </span>
        <span>{{ selectedTab }}</span>
      </span>
      <div class="right-content">
        <img class="header-avatar" ngxGravatar [email]="email" />
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-action-list class="tab-list">
      <button
      mat-list-item
      (click)="navigateTo('professor/appeal-inbox')"
      [class.selected]="selectedTab === 'Appeal Inbox'"
    >
        &ensp;Appeal Inbox
      </button>
      <button
      mat-list-item
      (click)="navigateTo('professor/interaction-history/')"
      [class.selected]="selectedTab === 'Interaction History'"
    >
        &ensp;Interaction History
      </button>
      <button
      mat-list-item
      (click)="navigateTo('professor/closed-appeals')"
      [class.selected]="selectedTab === 'Closed Appeals'"
    >
        &ensp;Closed Appeals
      </button>
      <button
      mat-list-item
      (click)="navigateTo('professor/profile')"
      [class.selected]="selectedTab === 'Profile'"
    >
        &ensp;Profile
      </button>
      <button
      mat-list-item
      (click)="navigateTo('professor/edit-templates')"
      [class.selected]="selectedTab === 'Edit Templates'"
    >
        &ensp;Edit Templates
      </button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
