@import "src/styles.scss";

.tab-list {
  background-color: $primary-blue;
  height: 100%;
}

.version-number {
  color: white;
  text-align: center;
  margin-top: 15vh;
}

.material-symbols-outlined {
  color: white;
  font-size: 35px;
}
.page-title {
  padding-left: 4px;
  font-size: 25px;
  font-weight: bold;
}
.sidenav-button {
  color: white;
  padding: 15px;
  width: 100%;

  &:hover {
    background-color: darken($primary-blue, 10%);
  }
}
mat-icon {
  margin-right: 7px;
}

.selected {
  background-color: darken($primary-blue, 15%);
}

.sidenav-container {
  width: 200px; /* Set the width of the sidenav as needed */
  height: 100vh;
  float: left;
}
.top-bar {
  font-size: 40px;
  background-color: $primary-blue;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0.5vw;
  .material-symbols-outlined {
    font-size: 30px;
    font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  }
}

.app-container {
  min-height: 100vh;
}

.content {
  // padding-left: 10px;
  overflow: auto;
}

// .content {
//   flex-grow: 1;
//   padding-left: 10px;
//   overflow: auto;
//   height: 100vh;
// }
