@import "src/styles.scss";

.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
  height: 100%;
}

.tab-list {
  padding-top: 16px;
  padding-bottom: 16px;
}

.tab-list {
  background-color: $secondary-blue;
  height: 100%;
}

mat-sidenav-content {
  padding: 16px; /* Add padding to content area */
  overflow: hidden;
  height: 100vh;
}

.top-bar {
  font-size: 40px;
  background-color: $primary-blue;
  color: white;
  height: 80px;
  padding-top: 8px;
}
.left-content {
  margin-right: auto;
  align-items: center;
  display: flex;
}
.right-content {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  color: white;
}

.material-symbols-outlined {
  color: white;
}

.content {
  height: 100vh;
}

.sidenav-button {
  color: white;
  padding: 15px;
  width: 100%;

  &:hover {
    background-color: darken($primary-blue, 10%);
  }
}

.tab-list {
  background-color: $primary-blue;
}

mat-icon {
  margin-right: 7px;
}
