@import "src/styles.scss";

.card {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
}
.form {
  text-align: center;
  display: inline;
  width: 45vw;
  height: 85vh;
  border: 1px solid darkgray;
}

.login-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
}

.logo {
  //border: 5px solid red;
  margin-left: 10vw;
  float: left;
}

.form {
  //border: 5px solid blue;
  margin-right: 10vw;
  float: right;
}

.welcome {
  color: $primary-blue;
  font-size: 3vw;
  width: 20vw;
  margin-left: 7vh;
  margin-top: 12vh;
  text-align: left;
}

.logo,
.form {
  text-align: center;
  display: inline;
  width: 45vw;
  height: 85vh;
  border: 1px solid darkgray;
}

.cover-image {
  width: 100%;
  max-width: 500px;
  min-width: 400px;
  height: 100%;
}

.login-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
}

.logo {
  //border: 5px solid red;
  margin-left: 10vw;
}

.form {
  //border: 5px solid blue;
  margin-right: 10vw;
}

.welcome {
  color: $primary-blue;
  font-size: 3vw;
  width: 20vw;
  margin-left: 7vh;
  margin-top: 15vh;
  text-align: left;
}

.gradeboost {
  margin-bottom: 10vh;
  color: $primary-blue;
  font-size: 3vw;
  margin-left: 7vh;
  text-align: left;
  margin-top: 5vh;
}

.blue-button {
  margin: 5px;
}
