<div class="page">
    <div class="content">
        <div class="header">
            <h1 class="title">Add Course</h1>
        </div>
        <div class="input-fields">

        <p class="description">Course Prefix (e.g. CS, ENGR)</p>
        <mat-form-field class="input-box">
            <textarea matInput [(ngModel)]="newCoursePrefix"></textarea>
        </mat-form-field>

        <p class="description">Course Code (e.g. 108, 220)</p>
        <mat-form-field class="input-box">
            <textarea matInput [(ngModel)]="newCourseCode"></textarea>
        </mat-form-field>

        <p class="description">Course Name (e.g. Introduction to Data Structures)</p>
        <mat-form-field class="input-box">
            <textarea matInput [(ngModel)]="newCourseName"></textarea>
        </mat-form-field>

        <p class="description">Course Section (e.g. A, B)</p>
        <mat-form-field class="input-box">
            <textarea matInput [(ngModel)]="newCourseName"></textarea>
        </mat-form-field>

        <p class="description">Course Semester</p>
        <mat-form-field class="input-box">
            <select matNativeControl required #mySelectSemester>
                <option value="FA">Fall</option>
                <option value="SP">Spring</option>
              </select>
        </mat-form-field>

        <mat-form-field class="input-box">
            <select matNativeControl required #mySelect>
                <option value="courseYear">{{courseYear}}</option>
                <option value="courseNextYear">{{courseNextYear}}</option>
              </select>
        </mat-form-field>
        
        </div>
        <div class="button-div">
            <button mat-button class="blue-button" (click)="onAddCourse()">Submit</button>
        </div>
    </div>
</div>