
<div class="card">
    <mat-toolbar class="top-bar">
        <mat-toolbar-row>
            <img class="header-avatar" ngxGravatar [email]="email"/>
            <h1>Sam Hoogewind</h1>
            </mat-toolbar-row>
    </mat-toolbar>
    <div class="chat-list" #chatListContainer>
    <ng-container *ngFor="let item of chats">
        <div class="chat-item"
            [ngClass]="{'right' : item?.user?.id == professor.id, 'left': item?.user?.id != professor.id}">
            <img id="avatar" ngxGravatar [email]="item?.user?.email"/>
        <!-- <img id="avatar" [src]="item?.user?.profileImageUrl"> -->
        <p id="message-body">{{item?.message}}</p>
        </div>
    </ng-container>
    </div>
    <div class="chat-footer">
    <input matInput id="chat-textarea" [(ngModel)]="chatInputMessage" required>
    <button mat-stroked-button id="send-button" (click)="send()" [disabled]="chatInputMessage === ''">
        Send
    </button>
    </div>
</div>

  
