<div class="about-container">
  <h1>Introducing GradeBoost – Revolutionizing the Grade Appeal Process!</h1>
  <p>
    Are you tired of the traditional hassles associated with appealing grades?
    Look no further!
  </p>

  <h1>Why GradeBoost?</h1>
  <ul>
    <li>
      <b>Centralized and Streamlined Process:</b> Say goodbye to scattered
      emails and cluttered inboxes! GradeBoost provides a centralized platform
      for students to submit, track, and resolve grade appeals effortlessly. No
      more lost appeals or overlooked messages.
    </li>
    <li>
      <b>User-Friendly Interface:</b> Our intuitive interface makes navigating
      through courses and submitting assignment-specific appeals a breeze.
      Students can easily track the progress of their appeals, receive updates,
      and engage in seamless communication with professors through a dedicated
      discussion thread.
    </li>
    <li>
      <b>Efficient Professor Dashboard:</b> Professors, rejoice! The centralized
      dashboard allows you to view all student appeals at a glance. Respond,
      reassign appeals, forward them to graders, and utilize pre-written
      templates to streamline your responses. GradeBoost is designed to make
      your life easier.
    </li>
    <li>
      <b>Interactive Discussion Threads:</b> Foster effective communication with
      your professors through dynamic discussion threads. Share thoughts, seek
      clarification, and engage in meaningful conversations to ensure your voice
      is heard.
    </li>
    <li>
      <b>Templates for Efficiency:</b> Professors, save time with our
      pre-written templates designed to assist you in crafting timely and
      effective responses. Streamline your workflow and focus on what matters
      most – educating and supporting your students.
    </li>
  </ul>

  <h1>Meet the Team</h1>
  <ul class="team-list">
    <li class="team-member">Ael Lee</li>
    <li class="team-member">Tyler Voss</li>
    <li class="team-member">Justin Voss</li>
    <li class="team-member">Sam Hoogewind</li>
  </ul>

  <b>Our Mentor: Professor Victor Norman</b>
  <p>
    Professor Norman was not just our mentor, but our advocate and inspiration
    behind it! Tired of his overcrowded inbox, Professor Norman envisioned a
    solution that could help both students and professors. His passion for
    simplifying the grade appeal process fueled the development of GradeBoost.
  </p>
</div>
