@import "src/styles.scss";
.about-container {
  margin: 30px;
}
p {
  color: #34495e;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li b {
  color: $primary-blue;
}
h1 {
  font-size: 30px;
  color: $primary-blue;
  font-weight: bold;
}
