<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<div class="app-container">
  <div class="top-bar">
    <div class="top-left-content">
      <span
        (click)="navigateTo('student/course-dashboard')"
        class="material-symbols-outlined rocket"
      >
        rocket_launch
      </span>
      <span class="title">{{ title }}</span>
    </div>
    <div class="top-right-content">
      <button
      [routerLink]="['/student/about']"
      class="about-button"
    >
      <mat-icon
        class="about-icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="?"
      ></mat-icon>
      &ensp;
    </button>
    <div class="sign-out-button">
      <span class="sign-out" (click)="logoutPopUp()">
        Sign Out
      </span>
    </div>
    </div>
  </div>

  <div class="sidenav-container">
    <div class="tab-list" >
      <div class="student-label" (click)="showStudent = !showStudent; expandMoreS = !expandMoreS">
        <mat-icon *ngIf="expandMoreS">expand_more</mat-icon>
        <mat-icon *ngIf="!expandMoreS">chevron_right</mat-icon>
        Student</div>
      <div class="student-tab-container" *ngIf="showStudent">
        <div class="tab">
          <button
            class="tab-text sidenav-button"
            [routerLink]="['/student/course-dashboard']"
            routerLinkActive="selected"
          >
            <mat-icon
            class="side-nav-icon"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="dashboard"
            ></mat-icon>
            <!-- &ensp;Course Dashboard -->
            <p>Courses</p>
          </button>
        </div>
      
      <div class="tab">
        <button
          class="sidenav-button"
          [routerLink]="['/student/interaction-history']"
          (click)="navigateTo('student/interaction-history')"
          routerLinkActive="selected"
        >
          <mat-icon
          class="side-nav-icon"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="chat"
          ></mat-icon>
          &ensp;Interaction History
        </button>
    </div>
      <!-- <button
      class="sidenav-button"
      [routerLink]="['/student/about']"
      routerLinkActive="selected"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="?"
      ></mat-icon>
      &ensp;About
    </button> -->
      </div>
      <div class="grader-label" *ngIf="isGrader" (click)="showGrader = !showGrader; expandMoreG = !expandMoreG" >
        <mat-icon *ngIf="expandMoreG">expand_more</mat-icon>
        <mat-icon *ngIf="!expandMoreG">chevron_right</mat-icon>
        Grader</div>
      <div class="grader-tab-container" *ngIf="showGrader">
        <div class="grader-tabs">
          <div class="tab"> 
            <button
              class="tab-text sidenav-button"
              [routerLink]="['/student/grader/course-dashboard']"
              routerLinkActive="selected"
            >
              <mat-icon
              class="side-nav-icon"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="dashboard"
              ></mat-icon>
              &ensp;Grader Courses
            </button>
        </div>
        <div class="tab">
          <button
            class="sidenav-button"
            [routerLink]="['/student/grader/interaction-history']"
            routerLinkActive="selected"
          >
            <mat-icon
            class="side-nav-icon"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="grade"
            ></mat-icon>
            &ensp;Grader Chat
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
