<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<div>
  <mat-toolbar class="top-bar">
    <mat-toolbar-row>
      <span class="left-content">
        <span (click)="navigateTo('/')" class="material-symbols-outlined">
          rocket_launch
        </span>
        <span>{{ title }}</span>
      </span>
      <div class="right-content">
        <img class="header-avatar" ngxGravatar [email]="email" />
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-action-list class="tab-list">
      <button
        class="tab-text"
        mat-list-item
        (click)="navigateTo('/student/course-dashboard')"
        [class.selected]="selectedTab === 'Course Dashboard'"
      >
        &ensp;Course Dashboard
      </button>
      <button
        mat-list-item
        (click)="navigateTo('/student/course-dashboard')"
        [class.selected]="selectedTab === 'Grader Dashboard'"
        *ngIf="grader"
      >
        &ensp;Grader Dashboard
      </button>
      <button
        mat-list-item
        (click)="navigateTo('/student/interaction-history')"
        [class.selected]="selectedTab === 'Interaction History'"
      >
        &ensp;Interaction History
      </button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
