@import "src/styles.scss";

.tab-list {
  background-color: white;
  height: 100%;
}

.sidenav-button {
  color: $primary-blue;
  padding: 15px;
  width: 100%;

  &:hover {
    background-color: darken(white, 10%);
  }
}
mat-icon {
  margin-right: 7px;
}

.selected {
  background-color: darken(white, 15%);
}

.sidenav-container {
  width: 200px; /* Set the width of the sidenav as needed */
  height: 100vh;
  float: left;
}
.top-bar {
  font-size: 40px;
  background-color: white;
  color: $primary-blue;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}


.top-left-content {
  display: flex;
  align-items: center;
}

.rocket {
  padding: 5px;
  font-size: 26px;
}

.top-right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: 0.5vw;
}

.material-symbols-outlined {
  font-size: 32px;
  // font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
}

.sign-out {
  font-size: 12px;
  font-weight: 500;
}


.title {
  font-size: 32px;
  font-weight: bold;
}

.side-nav-icon {
  margin-right: 7px;
  font-size: 10px;
  width: 10px;
  height: 10px;
}

.about-button {
  margin-right: 4px;
  height: 22px;
  width:  22px;
  border: 1.5px solid $primary-blue;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-button:hover {
  background-color: darken(white, 10%);
}

.about-icon {
  font-size: 20px;
  margin: 0px;
  color: $primary-blue;
  font-weight: bolder;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -6px;
}

.sign-out {
  height: 24px;
  width:  74px;
  font-size: 12px;
  font-weight: 550;
  background-color: $primary-blue;
  color: white;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-out:hover {
  cursor: pointer;
  background-color: $hover-blue;
}

.sidenav-container {
  width: 190px; /* Set the width of the sidenav as needed */
  height: 100%;
  float: left;
}

.tab-list {
  background-color: white;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.student-label , .grader-label {
  color: $primary-blue;
  font-weight: bold;
  padding: 4px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  .mat-icon {
    margin: 0px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    margin-top: 8px;
  }

}

.student-label:hover, .grader-label:hover {
  cursor: pointer;
  // background-color: darken(white, 10%);
}




.grader-tab-container {
  // height: 100%;
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;

}

.grader-tabs {
  height: 100%;
  width: 100%;
}

.sidenav-button {
  color: $primary-blue;
  padding: 4px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 1em;
  &:hover {
  }
}

.selected {
  background-color: darken(white, 10%);
}




.app-container {
  height: 100vh;
}

.content {
  overflow: auto;
  height: 100%;
}

.grader-divider {
  background-color: $primary-blue;
  height: 5px;
  width: 100%;
}
.material-symbols-outlined {
  color: $primary-blue;
  font-size: 35px;
}
.page-title {
  padding-left: 4px;
  font-size: 25px;
  font-weight: bold;
}
