    <div class="container">
    <!-- Left Pane (List of Appeals) -->
    <div class="inbox-wrapper">
    <div class="inbox">
      <mat-nav-list >
        <mat-list-item
          class="inbox-item"
          *ngFor="let appeal of this.professorAppeals"
          (click)="selectAppeal(appeal)"
          [class.selected-appeal]="appeal === current_appeal"
        >
          <p matLine>
            {{appeal?.student_name}}
          </p>
          

          <p matLine>{{ appeal?.created_at }}</p>
        </mat-list-item>
      </mat-nav-list>
    </div>
</div>
    <!-- Right Pane (Selected Appeal Details) -->
    <div class="right-pane">
<div class="card">
  <mat-toolbar class="top-bar">
    <mat-toolbar-row>
      <img class="header-avatar" ngxGravatar [email]="user.email" />
      <h1>&nbsp; {{current_appeal?.student_name}}<span>: </span>{{current_appeal?.assignment_name}}</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="chat-list" #chatListContainer>

    <ng-container *ngFor="let chat of this.messages">
      <div
        class="chat-item"
        [ngClass]="{
          right: chat?.sender_id == user.id,
          left: chat?.sender_id != user.id
        }"
      >
        <!-- <img ngxGravatar [email]="user.email" /> -->
        <img *ngIf="isUser" ngxGravatar [email]="user.email" />
        <img *ngIf="!isUser" ngxGravatar [email]="sender.email" />

         <!-- <img id="avatar" [src]="chat?.user?.profileImageUrl">  -->
        <p id="message-body">{{ chat?.message_text }}</p>
      </div>
    </ng-container>
  </div>
  <div class="chat-footer">
    <button
    mat-stroked-button
    class="use-template-button"
    (click)="useTemplate()"
    [disabled]="chatInputMessage === ''"
  >Use Template</button> 
    <input
      matInput
      id="chat-textarea"
      [(ngModel)]="chatInputMessage"
      required
    />
    <button
      mat-stroked-button
      id="send-button"
      (click)="sendMessage()"
      [disabled]="chatInputMessage === ''"
    >
      Send
    </button>
  </div>
</div>
</div>
</div>