<p class="course-title">{{formatProfessorCourse(course)}}</p>
<!-- <table class="assignment-table">
    <tr>
        <th class="global-th">Assignment</th>
      </tr>
      <tr *ngFor="let assignment of assignments">
        <td >{{assignment.assignment_name}}</td>
      </tr>
  </table>
   -->


  <table class="assignment-table">
    <tr>
      <th class="global-th">Assignment</th>
    </tr>
    <tr *ngFor="let assignment of assignments; let i = index">
      <td>{{ assignment.assignment_name }}
        <button *ngif="editMode" class="blue-button" (click)="deleteAssignment(i)">Delete</button>
      </td>  
    </tr>
  </table>
<!-- IF the edit button is clicked, then it disappears and the other two buttons appear.  -->
<button mat-button *ngIf="!editMode" class="blue-button" (click)="toggleEditMode()">Edit</button>
<button mat-button *ngIf="editMode" class="blue-button" (click)="addAssignment(assignments, course)">Add Assignment</button>
<button mat-button *ngIf="editMode" class="blue-button" (click)="toggleEditMode()">Done</button>
