@import "src/styles.scss";

form {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  button {
    padding: 0 1em;
    margin: 1em;
  }
}

.valid-form {
  background-color: $primary-blue;
  color: $form-white;
}

.invalid-form {
  background-color: lightgray;
}
