<div
  class="course-wrapper scroll"
  *ngIf="professorCourses; else loadingSpinner"
>
  <mat-card class="courses" *ngFor="let course of professorCourses">
    <div class="title-container">
      <mat-card-title class="course-wording"
        >{{ course.prefix }}-{{ course.code }}-{{ course.section }}
        {{ course.semester }}-{{ course.year }} </mat-card-title
      ><mat-icon class="delete-icon" (click)="deleteCoursePopUp($event, course)"
        >delete</mat-icon
      >
    </div>
    <mat-card-subtitle class="course-name">{{ course.name }}</mat-card-subtitle>
    <button
      type="submit"
      (click)="onViewAssignments(course)"
      class="blue-button"
    >
      View Assignments
    </button>
    <button type="submit" (click)="onViewRoster(course)" class="blue-button">
      View Roster
    </button>
  </mat-card>
  <div class="empty" *ngIf="noCourses">
    <h1>No courses to display</h1>
    <h2>Add a course using the button below</h2>
  </div>
  <button
    mat-icon-button
    class="global-blue add-button"
    (click)="addCoursePopUp()"
  >
    <mat-icon class="add-icon">add</mat-icon>
  </button>
</div>

<ng-template #loadingSpinner>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
    <div class="fetch-message">Fetching Courses...</div>
  </div>
</ng-template>
