<!-- Main Content Section -->
<div class="content">
  <!-- Left Pane (List of Appeals) -->
  <div class="inbox" *ngIf="fetchedAppeals">
    <mat-nav-list>
      <mat-list-item
        class="inbox-item"
        *ngFor="let appeal of professorAppeals"
        (click)="selectAppeal(appeal)"
        [class.selected-appeal]="appeal === currentAppeal"
      >
        <p matLine class="inbox-timestamp">
          {{ localFormatTimestamp(appeal.created_at).date }} <br />
          {{ localFormatTimestamp(appeal.created_at).time }}
        </p>
        <p class="inbox-name" matLine>
          {{ appeal.student_name }}
        </p>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <!-- Right Pane (Selected Appeal Details) -->
  <div class="right-pane">
    <div *ngIf="!professorAppeals; else elseBlock" class="placeholder-text">
      Select an appeal to view details.
    </div>
    <ng-template #elseBlock>
      <div *ngIf="fetchedAppeals">
        <mat-card class="appeal">
          <h2 class="appeal-header">
            <img class="inbox-avatar" ngxGravatar [email]="email" />
            <p>
              {{ currentAppeal.student_name }}: &nbsp;
              {{ currentAppeal.assignment_name }}
            </p>
          </h2>
          <p><strong>Student Name:</strong> {{ currentAppeal.student_name }}</p>
          <p><strong>Appeal Number:</strong> {{ currentAppeal.appeal_id }}</p>
          <p>
            <strong>Grade Received:</strong>
            {{ currentAppeal.appeal_grade }}
          </p>

          <mat-card class="message">
            <p>{{ currentAppeal.appeal_text }}</p>
          </mat-card>
          <div class="buttons">
            <button
              class="chat"
              (click)="
                navigateTo(
                  'professor/interaction-history/' +
                    this.currentAppeal.appeal_id
                )
              "
              mat-stroked-button
              accent
            >
              Chat
            </button>
            <button class="close-appeal" mat-stroked-button>
              Close Appeal
            </button>
          </div>
        </mat-card>
      </div>
    </ng-template>
  </div>
</div>
