@import "src/styles.scss";
@import "src/app/components/Professor/professor-interaction-history/professor-interaction-history.component.scss";

// Using professor interaction history scss

.top-bar {
  display: flex;
  justify-content: start;
}

// .assignment-name {
//   font-size: 20px;
//   color: black;
// }

.student-name {
  font-size: 20px;
  font-weight: 400;
}

.send-button-div {
  margin-top: 8px;
}


// .send-button {
//   margin-bottom: 12px;
// }