.notification-appeals {
  padding: 5px;
  margin: 3px;
}

.card-title {
  padding: 3px;
}

.card-subtitle {
  padding: 3px;
}

.checkbox {
  color: "primary";
}

.completed-appeal {
  background-color: lightgreen;
  color: white;
}