@import "src/styles.scss";
@import "src/app/components/Professor/edit-templates/add-template/add-template.component.scss"; 

.page {
    background-color: $primary-blue;
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    background-color: white;
    margin-top: 0px;
    height: 100%;
}

.description {
    margin: 0.5em 0px;
    color: grey;
  }

.input-box {
height: 20%;
width: 90%;
}


.top-bar{
    font-size: 40px;
    color: $primary-blue;
    height: 80px;
    padding-top: 8px;
  }

  .left-content{
    margin-right: auto;
    align-items: center; 
    display: flex;
  }

.right-content {
    margin-left: auto; 
    display: flex;
    align-items: center; 
}

.input-fields {
    margin-left: 0px;
}

mat-form-field {
    width: 70%;
}

.mat-raised-button.mat-primary .mat-button-focus-overlay {
    // background-color: blue;
}
