<div class="container">
  <!-- Left Pane (List of Appeals) -->
  <div class="inbox-wrapper">
    <div class="inbox">
      <mat-nav-list *ngIf="loadStudentAppeals">
        <mat-list-item
          class="inbox-item"
          *ngFor="let appeal of this.studentAppeals"
          (click)="selectAppeal(appeal)"
          [class.selected-appeal]="appeal === current_appeal"
        >
          <p matLine>
            {{ appeal.professor_first_name }}
          </p>

          <p matLine>{{ appeal.created_at }}</p>
          <p matLine>{{ appeal.course_name }}</p>
          <p matLine>{{ appeal.assignment_name }}</p>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <!-- Right Pane (Selected Appeal Details) -->
  <div class="right-pane">
    <div class="card">
      <mat-toolbar class="top-bar">
        <mat-toolbar-row *ngIf="loadMessages">
          <img class="header-avatar" ngxGravatar [email]="user.email" />
          <h1>
            {{ current_appeal.professor_first_name }}
            {{ current_appeal.professor_last_name }}<span>:</span>
            {{ current_appeal.assignment_name }}
          </h1>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="chat-list" #chatListContainer>
        <ng-container *ngFor="let message of this.messages">
          <div
            class="chat-item"
            [ngClass]="{
              right: message?.sender_id == user.id,
              left: message?.sender_id != user.id
            }"
          >
            <!-- <img ngxGravatar [email]="user.email" /> -->
            <img *ngIf="isUser" ngxGravatar [email]="user.email" />
            <img *ngIf="!isUser" ngxGravatar [email]="sender.email" />

            <!-- <img id="avatar" [src]="chat?.user?.profileImageUrl">  -->
            <p id="message-body">{{ message.message_text }}</p>
          </div>
        </ng-container>
      </div>
      <div class="chat-footer">
        <button
          mat-stroked-button
          class="use-template-button"
          (click)="useTemplate()"
          [disabled]="chatInputMessage === ''"
        >
          Use Template
        </button>
        <input
          matInput
          id="chat-textarea"
          [(ngModel)]="chatInputMessage"
          required
        />
        <button
          mat-stroked-button
          id="send-button"
          (click)="sendMessage()"
          [disabled]="chatInputMessage === ''"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>
