@import "src/styles.scss";
@import "src/app/components/Professor/professor-interaction-history/professor-interaction-history.component.scss";

.top-bar {
    justify-content: center;
}

.mat-toolbar-row {
    padding: 0px;
}

.student-name {
    font-weight: 400;
    margin-left: 10px;
}

