.logo,
.form {
  text-align: center;
  display: inline;
  width: 45vw;
  height: 85vh;
  border: 1px solid darkgray;
}

.cover-image {
  height: 100%;
  width: 100%;
}

.login-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
}

.logo {
  //border: 5px solid red;
  margin-left: 10vw;
}

.form {
  //border: 5px solid blue;
  margin-right: 10vw;
}

.welcome {
  color: blue;
  font-size: 3vw;
  width: 20vw;
  margin-left: 7vh;
  margin-top: 12vh;
  text-align: left;
}