<!-- edit-templates.component.html -->

<mat-card>
    <mat-card-header>
      <mat-card-title>Edit Templates</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Template List -->
      <ul class="template-list">
        <li *ngFor="let template of templates">
          <mat-icon class="edit-icon" (click)="editTemplate(template)">edit</mat-icon>
          <div class="template-details">
            <p class="template-name">Template 1</p>
            <p class="template-description">Most often used response for Grade appeals.</p>
          </div>
        </li>
        <!-- If there are no templates -->
        <div *ngIf="templates.length === 0" class="no-templates-message">
          No templates to display.
        </div>
      </ul>
    </mat-card-content>
  </mat-card>
  