@import "src/styles.scss";

.edit-templates-container {
  margin: 1em 2em;
}

.mat-column-name {
  width: 20%;
}

.mat-column-text {
  width: 75%;
}

.mat-column-options {
  width: 5%;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

.add-button {
  position: fixed;
  // margin-top: 24px;
  margin-left: 20px;
}

.add-icon {
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button-template {
  margin-left: 20px;
  // position: fixed;
  // margin-top: 24px;
  // margin-left: 20px;
}