.edit-templates-container {
  margin: 1em 2em;
}

.mat-column-name {
  width: 20%;
}

.mat-column-text {
  width: 75%;
}

.mat-column-options {
  width: 5%;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
