<!-- edit-templates.component.html -->
<mat-card>
    <mat-card-header>
      <h1 class="card-title">Edit Templates</h1>
    </mat-card-header>
    <mat-card-content>
      <!-- Template List -->
      <mat-nav-list>
        <mat-list-item
          class="template-item"
          *ngFor="let template of professorTemplates"
        >
          <span class="template-name">
            {{template.temp_name}}
          </span>
          <span class="template-text">{{template.temp_text}}</span>
        </mat-list-item>
      </mat-nav-list>
        <!-- If there are no templates -->
        <div *ngIf="professorTemplates.length === 0" class="no-templates-message">
          No templates to display.
        </div>
    </mat-card-content>
  </mat-card>
  