@import "src/styles.scss";

:host {
  display: flex;
}

.grader-assigned {
  color: white !important;
  background-color: $primary-blue !important;
  border-color: $primary-blue !important;
}
span {
  color: white !important;
  background-color: $primary-blue !important;
  button {
    color: white !important;
    background-color: $primary-blue !important;
    width: 100%;
  }
}
