@import "src/styles.scss";

.component-wrapper {
  overflow: auto;
}

.roster-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .table-container {
    width: 95%;
  }
}
.student-count-container {
  width: 95%;
  margin: 1.5em 0;
  display: flex;
  justify-content: end;
}

.back-button {
}

.student-input {
  width: 30vw;
  height: 30vh;
  padding-top: 10px;
}

.back-button {
  width: 4.5em;
  text-align: center;
  height: 2.5em;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.course-title {
  font-size: 2em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  justify-content: center;
  cursor: pointer;
  width: 120px;
}

.csv-button {
  margin-top: 1em;
  margin-left: 0.5em;
}

.button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
}

.add-button {
  margin-top: 1em;
}

.add-button:hover {
  background-color: $hover-blue;
}

.add-icon {
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verified {
  background-color: $primary-blue;
  color: white !important;
  font-size: 1em;
  font-weight: 500;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
}

.pending {
  background-color: whitesmoke;
  color: black;
  font-size: 1em;
  font-weight: 500;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
}
