<button
  mat-button
  type="submit"
  (click)="onBackButton()"
  class="blue-button back-button"
>
  Back
</button>
<p class="course-title" *ngIf="course; else loadingSpinner">
  <b>{{ formatCourse(course) }}</b>
</p>
<div *ngIf="courseStudents; else loadingSpinner">
  <div class="roster-wrapper scroll">
    <table class="roster-table" *ngIf="courseStudents.length !== 0">
      <tr>
        <th class="global-th">Name</th>
        <th class="global-th">Email</th>
        <th class="global-th">Role</th>
      </tr>
      <tr *ngFor="let student of courseStudents">
        <td class="student-name" (click)="editStudentPopup(student)">
          {{ student.student_name }}
        </td>
        <td>
          {{ student.email }}
        </td>
        <td>
          <!-- <mat-select  [placeholder]="student.is_grader ? 'Grader' : 'Student'" (selectionChange)="onAssignGrader(student)"> -->
          <mat-select
            [placeholder]="getIsGrader(student) ? 'Grader' : 'Student'"
            (selectionChange)="onAssignGrader(student)"
          >
            <mat-option value="Student">Student</mat-option>
            <mat-option value="Grader">Grader</mat-option>
          </mat-select>
        </td>
      </tr>
    </table>
    <div *ngIf="courseStudents.length === 0" class="empty">
      <h1>There are no students in this class.</h1>
      <h2>Add students using the buttons below</h2>
    </div>
  </div>
  <div class="button-div">
    <button
      mat-icon-button
      class="global-blue add-button"
      (click)="addStudentPopUp()"
    >
      <mat-icon class="add-icon">add</mat-icon>
    </button>
    <label for="file-input" class="custom-file-input blue-button csv-button"
      >Upload CSV</label
    >
    <input id="file-input" type="file" (change)="onFileChange($event)" />
  </div>
</div>
<ng-template #loadingSpinner>
  <app-loading-spinner
    [fetchMessage]="'Fetching Course Information...'"
  ></app-loading-spinner>
</ng-template>
