.sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 200px;
  }
  
  .tab-list {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  mat-sidenav-content {
    // padding: 16px; /* Add padding to content area */
  }