<div class="component-wrapper">
  <button mat-button type="submit" (click)="onBackButton()" class="blue-button">
    Back
  </button>
  <p class="course-title" *ngIf="course; else loadingSpinner">
    {{ formatCourse(course) }}
  </p>
  <div class="scroll assignments" *ngIf="assignments; else loadingSpinner">
    <table class="assignment-table" *ngIf="assignments.length !== 0">
      <tr>
        <th class="global-th">Assignment</th>
      </tr>
      <tr
        *ngFor="let assignment of assignments; let i = index"
        class="assignment-row"
      >
        <td class="assignment-name">{{ assignment.assignment_name }}</td>
        <td class="icon-cell">
          <mat-icon
            class="delete-icon"
            (click)="deleteAssignmentPopUp(assignment, course)"
            >delete</mat-icon
          >
        </td>
      </tr>
    </table>
    <div *ngIf="assignments.length === 0" class="empty">
      <h1>There are no assignments for this class.</h1>
      <h2>Add assignments using the button below</h2>
    </div>
  </div>
  <button
    mat-icon-button
    class="global-blue add-button"
    (click)="addAssignmentPopUp(assignments, course)"
  >
    <mat-icon class="add-icon">add</mat-icon>
  </button>
</div>
<ng-template #loadingSpinner>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
    <div class="fetch-message">Fetching Assignment Information...</div>
  </div>
</ng-template>
