@import "src/styles.scss";

.blue-button {
  margin-top: 1em;
}

.course-title {
    font-size: 2em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}

.assignment-wrapper {
    display: flex;
  }

  .assignment-table {
    width: 95%;
    border-collapse: collapse;
  }

  .assignment-table tr:nth-child(even){background-color: #f2f2f2;}
  .assignment-table tr:hover {background-color: #ddd;}

  .assignment-table, .assignment-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .assignment-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }

  .assignment-table td {
    padding: 5px;
  }


.add-button {
  margin: 5px;
  margin-top: 10px;
}

.add-button:hover {
  background-color: $hover-blue;
}

.add-icon {
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.assignment-row {
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  color: $primary-blue;
}

.delete-icon:hover {
  cursor: pointer;
  color: red;
}

