@import "/src/styles.scss";
.courses-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: $primary-blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.course {
    // padding: 10px;
    margin: 10px;
    height: 250px;
    width: 400px;
    min-width: 200px;
    background-color: white;
    text-align: center;
    flex-basis: calc(33.33% - 20px); 
    box-sizing: border-box;
}

.course-name {

    flex-direction: row;
    padding: 1vw;
    font-weight: bold;
}

.course-description {
    flex-direction: row;
    padding: 1vw;
}

.course-professor {
    flex-direction: row;
    padding: 1vw;
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    justify-content: center;
    // background-color: red;
}

.white-button {
    padding: 4px;
    bottom: 5px;
    color: white;
    background-color: rgb(216, 216, 216);
}

.blue-button {
    padding: 4px;
    bottom: 5px;
    color: white;
    span {
        color: white;
    }

}




