<main>
<div class="courses-container">
    <div class="course" *ngFor="let course of studentCourses">
            <div class="course-name">
                {{course.course_prefix}}-{{course.course_code}}-{{course.course_section}}-{{course.course_year}}{{course.course_semester}}
            </div>
            <div class="course-description">{{course.course_name}}</div>
            <div class="course-professor">{{course.professor_name}}</div>
            <!-- <button mat-button class="view-appeal-button" *ngIf="grader">View Appeals</button> -->
            <button class="appeal-button" (click)="onNewAppeal()" mat-button>New Appeal</button>
    </div>
    <div class="footer"></div>
</div>
</main>
