<!-- closed-appeals.component.html -->

<mat-card>
  <mat-card-header>
    <mat-card-title>Closed Appeals</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Closed Appeals List -->

    <mat-card
      *ngFor="let appeal of closedAppeals; let i = index"
      class="closed-appeal"
    >
      <div class="appeal-details">
        <div class="detail-text">
          <p class="course-name">
            {{ appeal.course_prefix }}-{{ appeal.course_code }} -
            {{ appeal.course_name }}
          </p>
          <p class="appeal-text">{{ appeal.appeal_text }}</p>
        </div>
        <button mat-raised-button class="reopen" (click)="onReopenAppeal(i)">
          Reopen
        </button>
      </div>
    </mat-card>

    <!-- If there are no closed appeals -->
    <div *ngIf="closedAppeals.length === 0" class="no-appeals-message">
      No closed appeals to display.
    </div>
  </mat-card-content>
</mat-card>
