@import "src/styles.scss";
.card {
  height: 100%;
}

mat-card-content {
  height: 100%;
  overflow: scroll;
}

.closed-appeal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin: 1rem;
  overflow-wrap: break-word;
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .info-label {
      font-weight: 600;
    }
  }
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .option {
      padding: 0.5rem 1rem;
      margin: 0.5rem 0rem;
    }
    .reopen-button {
      background-color: $primary-blue;
      color: white;
    }
  }
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  .fetch-message {
    margin-top: 2em;
  }
}
.appeal-info-container {
  display: flex;
  justify-content: center;
}
.appeal-info {
  // background-color: whitesmoke;
  min-width: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  gap: 1rem;
}

.course-assignment {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
p.closed-time {
  font-size: 11px;
  color: gray;
}
.text {
  overflow-wrap: break-word;
  max-width: 60vw;
}
