@import "src/styles.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  mat-dialog-actions {
    margin: auto;
  }
}
.account-page {
  min-width: 450px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.change-password,
.email-preferences {
  margin-bottom: 20px;
}
mat-form-field {
  display: flex;
  flex-direction: column;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

// button {
//   padding: 10px 20px;
//   background-color: #4caf50;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

.valid-form {
  background-color: $primary-blue;
  color: $form-white;
}

.invalid-form {
  background-color: lightgray;
}

.blue-button {
  background-color: $primary-blue !important;
  color: white !important;
  font-family: Roboto;
  font-size: 1em;
  font-weight: 500;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
}

.gray-button {
  color: black;
  background-color: #ececec;
  font-family: Roboto;
  font-size: 1em;
  font-weight: 500;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
}
